#!ipxe

# Define URL prefix and version variables
set base-url {{.BaseURL}}
set version {{.Version}}

kernel ${base-url}/harvester/harvester-${version}-vmlinuz-amd64 ip=dhcp net.ifnames=1 rd.cos.disable rd.noverifyssl console=tty1 root=live:${base-url}/harvester/harvester-${version}-rootfs-amd64.squashfs harvester.install.automatic=true harvester.install.config_url=${base-url}/harvester/config-join.yaml
initrd ${base-url}/harvester/harvester-${version}-initrd-amd64
boot