#!ipxe

# Define URL prefix and version variables
set base-url {{.BaseURL}}

menu iPXE Boot Menu
item --gap -- ------------ Harvester Boot Options ------------
item create   Install Harvester (Automatic)
item join     Join Harvester Cluster
item --gap -- -----------------------------------------------
item shell    Drop to iPXE shell
choose --default create --timeout 5000 target && goto ${target}

:create
  chain ${base-url}/harvester/ipxe-create
  goto end

:join
  chain ${base-url}/harvester/ipxe-join
  goto end

:shell
  shell
  goto end

:abort
  echo Aborted
  reboot

:end
